[submodule "deps/glade"]
	path = deps/glade
	url = git@github.com:batonez/glade.git
[submodule "deps/PerlinNoise"]
	path = deps/PerlinNoise
	url = git@github.com:batonez/PerlinNoise.git
[submodule "deps/lodepng"]
	path = deps/lodepng
	url = git@github.com:batonez/lodepng.git
[submodule "deps/sha1"]
	path = deps/sha1
	url = git@github.com:batonez/sha1.git
[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/batonez/assimp
[submodule "deps/glew"]
	path = deps/glew
	url = git@github.com:batonez/glew.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = git@github.com:batonez/glfw.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = git@github.com:batonez/zlib.git
